{% extends "product/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Lista de Productos</h2>
    <a href="{% url 'product_create' %}" class="btn btn-primary mb-3">Crear Producto</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Categoría</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.stock }}</td>
                <td>
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-info btn-sm">Detalles</a>
                    <a href="{% url 'product_update' product.id %}" class="btn btn-success btn-sm">Editar</a>
                    <a href="{% url 'product_delete' product.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
